@import "normalize";

:link {
	font-weight: bold;
	text-decoration: none;
	color: #1648d5;
}

:visited {
	color: #1648d5;
}

a:hover {
	text-decoration: underline;
	color: #091d57;
}

ol,
ul {
	padding-left: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin-bottom: 0.4em;
}

html {
  line-height: 1.2;
}

:is(h2, h3, h4, h5, h6)+p {
	margin-top: 0px;
}