@import "../others/colors";

#navbar {
  border-bottom: 1px solid var(--main-divider-color);
  margin-left: 20px;
  margin-right: 20px;

  ol {
    $padding: 10px;

    display: flex;
    justify-content: space-between;
    padding-left: $padding;
    padding-right: $padding;
  }

  li {
    list-style: none;
    margin: 0;
  }
}

#home-link {
  text-decoration: none;
  color: var(--main-text-color);
}